* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding-16-48: clamp(16px, calc(16px + (48 - 16) * ((100vw - 1440px) / (1728 - 1440))), 48px);
  --padding-8-16: clamp(8px, calc(8px + (16 - 8) * ((100vw - 1280px) / (1728 - 1280))), 16px);
  --padding-16-24: clamp(16px, calc(16px + (24 - 16) * ((100vw - 1440px) / (1728 - 1440))), 24px);
  --padding-16-32: clamp(16px, calc(16px + (32 - 16) * ((100vw - 1440px) / (1728 - 1440))), 32px);
  --padding-24-48: clamp(24px, calc(24px + (48 - 24) * ((100vw - 1440px) / (1728 - 1440))), 48px);
  --padding-30-48: clamp(30px, calc(30px + (48 - 30) * ((100vw - 1440px) / (1728 - 1440))), 48px);
  --gap-48-225: clamp(48px, calc(48px + (225 - 48) * ((100vw - 1280px) / (1920 - 1280))), 225px);
  --margin-left-: clamp(285.64px, calc(285.64px + (350.64 - 285.64) * ((100vw - 1280px) / (1728 - 1280))), 350.64px);
}

body {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  background: #FFFFFF;
}

.btn {
  padding: 16px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  background: #000000;
  color: #FFFFFF;

  @media (hover: hover) {
    &:hover {
      background: #D6D6D6;
      color: #000000;
    }
  }

  &:disabled {
    opacity: 0.1;
    pointer-events: none;
  }
}
